body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}

/* header section */
header {
  background-color: white;
  height: 70px;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: center;
}

.left-buttons {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

.right-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 20px;
}

.search-form {
  width: 650px;
}

.search-bar {
  width: 450px;
  font-size: 20px;
  padding: 10px;
}

.search-button {
  font-size: 20px;
  padding: 10px;
}

/* main container div */
.main-container {
  display: flex;
  padding-top: 30px;
  padding-left: 175px;
  gap: 30px;
}

/* video player section */

.video-container {
  width: 1120px;
  height: 3000px;
}

.comment-container {
  width: 1120px;
  height: 150px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.comment-profile-icon {
  height: 48px;
  width: 48px;
  border-radius: 30px;
  margin-top: 8px;
  margin-left: 4px;
}



/* aside/suggested video section */

aside {
  width: 375px;
  height: 3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.suggested-heading {
  font-size: 20px;
  font-weight: normal;
  height: 20px;
}

.suggested-video {
  height: 120px;
  width: 375px;
  display: flex;
  gap: 8px;
}

.suggested-video-image {
  width: 175px;
  height: 116.77px;
}
